.Notifications {
  padding:  1rem;
  border: 2px dashed red;
  position: absolute;
  top: 10px;
  width: 95vw;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}